@font-face {
  font-family: varela-round-regular;
  src: url('/VarelaRound-Regular.ttf');
}

/* General */
.root__container {
  margin: 8rem 0;
  padding: 1rem;
}

.content__container {
  width: 100%;
}

.header_center__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button__icon {
  font-size: 1rem !important;
  margin: -0.15rem 0 0 0.5rem;
}

/* Components */
  /* Navbar */
  .navbar__appbar {
    padding: 0 5rem;
    box-shadow: none !important;
    height: 7rem;
    background-color: #1b1b1f !important;
    border-bottom: 1px solid #242429;
  }

  .navbar__toolbar {
    justify-content: center;
    height: inherit;
  }

  .navbar_button__container {
    display: flex;
    gap: 1.5rem;
  }

  .navbar__button {
    font-weight: bold !important;
  }

  .navbar_active__button {
    color: #fff !important;
    background-color: #242429 !important;
  }

  /* Footer */
  .footer__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: fixed;
    bottom: 0 !important;
    padding: 1rem 2rem;
    text-align: center;
    background-color: #1b1b1f;
    border-top: 1px solid #242429;
  }

  .footer_copyright__typography {
    color: #969696;
  }

  /* Breadcrumbs */
  .breadcrumbs_breadcrumbs {
    margin-bottom: 2rem !important;
  }

  .breadcrumbs__link {
    font-size: 1.25 !important;
    text-decoration: none;
    color: inherit;
  }

  .breadcrumbs__link:hover {
    text-decoration: underline;
  }

  .breadcrumbs__typography {
    font-size: 1.25 !important;
    color: #969696;
  }

/* Home Page */
.homepage__container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
}

.homepage_social__container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}

.homepage_social_links__container {
  display: flex;
  gap: 4rem;
  margin-top: 2rem;
}

.social__icon {
  color: white;
  font-size: 2rem !important;
  transition: 0.3s !important;
}

.social__icon:hover {
  scale: 1.25;
}

.homepage_image__container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.homepage__image {
  width: 60%;
  border-radius: 500px;
}

.homepage_content__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.homepage_content_header_name__typography {
  font-size: 3rem !important;
  margin-bottom: 1rem !important;
}

.homepage_content_header__typography {
  font-size: 3rem !important;
  color: #818191;
}

.homepage_content_typewriter__typography {
  margin-top: 2rem !important;
  color: #818191;
}

/* Experience Page */
.experience_project__container {
  width: 40rem;
  background-color: #242429;
  margin: 2.5rem auto;
  padding: 1.25rem;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 15px;
}
.experience_project__container:hover {
  scale: 1.05;
}

.experience_project_header__container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

.experience_project_title__typography {
  font-size: 1.25rem !important;
  margin-right: 1rem;
}

.experience_project_duration__typography {
  color: #818191;
  font-weight: bold !important;
}

.experience_project_technology__container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 1.5rem;
}

/* Technology Components */
.technology__container {
  padding-right: 1rem;
  border-radius: 15px;
  display: flex;
}

.technology__icon {
  scale: 0.7;
}

.technology__typography {
  font-weight: bold !important;
  color: #b6b6cf;
}

/* Experience Detail Page */
.experience_detail__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
}

.experience_detail__container > h2 {
  text-align: center;
}

.experience_detail__image {
  width: 20rem;
  margin-bottom: 2rem;
}

.experience_detail_duration__typography {
  color: #818191;
  font-weight: bold !important;
  margin-top: 0.5rem !important;
}

.experience_detail_technologies__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  margin: 3rem 0;
  /* border-top: 1px solid gray;
  border-bottom: 1px solid gray; */
  border: 1px solid rgb(49, 49, 49);
  border-radius: 50px;
  padding: 1rem;
}

.experience_project_title_company__typography {
  color: #b6b6cf;
}

.experience_detail_description__container {
  text-align: center;
  width: 45rem;
}

/* Project Detail Page */
.project_title__typography {
  font-size: 2.25rem !important;
  text-align: center;
  margin: 2rem 0 0 0 !important;
}

.project_release__typography {
  color: #818191;
  font-weight: bold !important;
  margin-top: 0.5rem !important;
  font-size: 1.15rem !important;
}

.project_description__container {
  width: 45rem;
  margin-top: 2rem;
  text-align: center;
}

.project_company_description__typography {
  font-size: 1.15rem !important;
  line-height: 2.25rem !important;
}

.project_sourcecode__button {
  transition: 0.3s !important;
  border-radius: 25px !important;
  border: 2px solid gray !important;
  font-weight: bold !important;
  margin-top: -0.5rem !important;
}

.project_sourcecode__button:hover {
  scale: 1.1;
}

/* Imprint */
.imprint__content__container {
  margin-top: 3rem;
}

.imprint__container {
  width: 40rem;
  margin: 0 auto;
}

.imprint__content__container > p {
  color: #969696;
}

/* Not Found Page */
.notfound__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.notfound__svg {
  width: 40%;
  margin: 4rem 0;
}

/* Media Querys */
@media (max-width: 900px) {
  .homepage__container {
    flex-direction: column;
  }

  .homepage_image__container {
    width: 50%;
  }

  .homepage_content_header__typography {
    font-size: 2rem !important;
  }

  .homepage_content_header_name__typography {
    font-size: 2.4rem !important;
  }

  .homepage_content__container {
    margin-top: 4rem;
    align-items: center;
    text-align: center;
  }
}

@media (max-width: 800px) {
  .project_description__container {
    width: 100%;
  }

  .experience_detail_description__container {
    width: 100%;
  }
}

@media (max-width: 690px) {
  .experience_project__container {
    width: 100%;
    box-sizing: border-box;
  }

  .imprint__container {
    width: 100%;
  }

  .homepage__container {
    margin-top: 2rem;
  }
}

@media (max-width: 550px) {
  .navbar__appbar {
    height: 5rem !important;
  }

  .homepage_image__container {
    width: 80%;
    margin-top: -2rem;
  }

  .homepage_content_header__typography {
    font-size: 1.5rem !important;
  }

  .homepage_content_header_name__typography {
    font-size: 1.9rem !important;
  }

  .homepage_content_typewriter__typography {
    font-size: 1.5rem !important;
  }
  
  .homepage_content__container {
    text-align: center;
    margin-top: 2rem;
  }

  .project_title__typography {
    font-size: 1.75rem !important;
  }

  .footer__container {
    padding: 1rem 1rem;
  }
}

@media (max-width: 400px) {
  .experience_detail__image {
    width: 100%;
  }
}